.categoryBox {
  display: flex;
  flex-direction: column;
  padding: 50px;
  align-items: center;
  justify-content: center;
  margin: 0px 20px;
}
.categoryBox h2 {
  padding-top: 0px;
  font-size: 1.7rem;
  text-align: center;
}

.categoryBox ul {
  list-style-type: none;
  display: table;
  width: 100%;
  text-align: center;
}

.categoryBox li {
  padding-top: 9px;
  font-size: 1.7rem;
}

.categoryBtn {
  height: auto;
  width: 100%;
  padding: 15px 25px;
  font-family: "Play";
  font-size: 1.5rem;
  font-weight: lighter;
  text-transform: uppercase;
  border-radius: 33px;
  color: #f3a611;
  background-color: black;
  border: 2px solid #f3a611;
}
.categoryBtn:hover {
  color: black;
  background-color: #f3a611;
  cursor: pointer;
}

.categoryBtn:focus {
  outline: none;
}
