.home-wrapper div {
  display: flex;
  margin: 50px auto;
  width: 80%;
}

article {
  display: flex;
  flex-direction: column;
  flex-basis: 90%;
  margin: 40px 5px;
  align-items: center;
  justify-content: center;
}
article h1 {
  color: #fa8c16;
  margin-top: 40px;
  font-size: 3rem;
  margin-bottom: 0;
}

article h2 {
  color: #ffd591;
  margin-top: 10px;
  font-size: 2rem;
  margin-bottom: 0;
}

article p {
  margin-top: 10px;
  text-align: center;
}

img {
  max-width: 70%;
  margin-top: 80px;
}

button {
  height: auto;
  width: 300px;
  padding: 15px 5px;
  font-size: large;
  font-weight: bold;
  border-radius: 33px;
  background: linear-gradient(180deg, #f3a611 14.06%, #fff0ae 100%);
  border: 2px solid #f3a611;
}

button:hover {
  cursor: pointer;
  background: #f3a611;
}
