.homeWrapper {
  display: flex;
  margin: 0px auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  min-width: 1140px;
  height: 100vh;
}

.leftBox {
  display: flex;
  flex-direction: column;
  flex-basis: 90%;
  align-items: center;
  justify-content: center;
}
.leftBox h1 {
  color: #fa8c16;
  margin-top: 40px;
  font-size: 3.9rem;
  margin-bottom: 5px;
  letter-spacing: 7px;
}

.leftBox h2 {
  color: #ffd591;
  margin-top: 10px;
  font-size: 2rem;
  margin-bottom: 0;
}

.leftBox p {
  margin: 7px auto;
  text-align: center;
}

.rightBox {
  display: flex;
  flex-basis: 90%;
  margin: 40px 5px;
  align-items: center;
  justify-content: center;
}
.rightBox img {
  max-width: 90%;
  margin-top: 40px;
}

.homeBtnRegister {
  height: auto;
  width: 200px;
  padding: 15px 5px;
  font-size: large;
  font-weight: bold;
  border-radius: 33px;
  background: linear-gradient(180deg, #f3a611 14.06%, #fff0ae 100%);
  border: 2px solid #f3a611;
}

.homeBtnRegister:hover {
  cursor: pointer;
  background: #f3a611;
}
