.upload-avatar label {
    display: block;
}

section {
    display: flex;
    flex-direction: column;
    border: rgb(248, 163, 4) 2px solid;
    border-radius: 12px;
    margin-top: 300px;
    padding: 50px;
    align-items: center;
    justify-content: space-between;
}