@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

body {
  box-sizing: border-box;
  font-family: "Play", sans-serif;
  background-color: black;
  color: white;
  position: relative;
  margin: 0;
  padding: 0;
}

div {
  display: flex;
  
}

/* progress bar styles */
.progress-bar{
  height: 5px;
  background: royalblue;
  margin-top: 20px;
}