@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif, 'Orbitron';
  background-color: black;
  color: white;
  
}

