@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

body {
  box-sizing: border-box;
  font-family: "Play", sans-serif;
  background-color: black;
  color: white;
  position: relative;
  margin: 0;
  padding: 0;
}

div {
  display: flex;
}

/* progress bar styles */
.progress-bar {
  height: 5px;
  background: royalblue;
  margin-top: 20px;
}

/* TEMP CSS */

/* image grid styles */
.img-grid {
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}

